<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Transacciones</title>
</head>
<body>
    <h1>Lista de Transacciones</h1>
    <ul>
        {% for transaction in transactions %}
            <li>
                {{ transaction.transaction_type }} - Monto: ${{ transaction.amount }} - Fecha: {{ transaction.date }}
                <a href="{% url 'transaction_detail' transaction.pk %}">Ver Detalles</a>
                <a href="{% url 'transaction_delete' transaction.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'transaction_create' %}">Nueva Transacción</a>
</body>
</html>
